<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetsIntent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WidgetsIntentUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CE215102A69DBEB007B321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CE2151B2A69DBEB007B321C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF362E82A68397D004FC2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF3631C2A6862FB004FC2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF3633A2A68635A004FC2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF3634F2A6863E1004FC2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF363642A686538004FC2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
